<main role="main">
  <h1 class="huge">{{teamName}}</h1>

  <section>
    <h2>Battles</h2>
    <ul class="list versus-list">
    {{#each levels}}
      <li class="spacious{{#if completed}} completed{{/if}}">
        <a href="/versus/new/{{this}}" class="no-underline btn--flat">{{this}}</a>
      </li>
    {{/each}}
    </ul>
  </section>

  </div>
</main>
