<h1>We're sorry</h1>
<img width="200" src="http://www.monkeymusicchallenge.com/images/monkey.png" alt="Monkey" />
{{#if error}}
<h2>{{error}}</h2>
{{else}}
<h2>The Monkey Music Challenge server seems to be having trouble</h2>

<div style="max-width: 600px; margin: 0 auto;">
  <p>An army of highly trained code monkeys has been dispatched to fix this
  problem. If it persists, please drop a mail to
  <a href="mailto:mmc@spotify.com">mmc@spotify.com</a></p>
</div>
{{/if}}