<div class="game-wrapper">
  <pre id="game-modal" class="hidden"></pre>
  <div class="game-copyright">
    <p><span class="red">&#10084;</span> <a href="http://www.slashie.org/">Patrik</a> for the character sprites</p>
    <p><span class="red">&#10084;</span> <a href="http://opengameart.org/users/buch">Buch</a> for the <a href="http://opengameart.org/content/overworld-tiles-0">Overworld</a> sprites</p>
  </div>
  <div id="game-container"></div>
</div>
<div id="game-status" class="red">Offline</div>
<script src="/game.js"></script>
