<h1>Open Games</h1>
{{#if games.length}}
<ul class="versus-list">
  {{#each games}}
  <li class="versus-item">
    <a href="/game/{{id}}">{{id}} – {{levelId}}</a>
  </li>
  {{/each}}
</ul>
{{else}}
<h3>Sorry, no games available.</h3>
<a href="/versus/levels">Create one yourself!</a>
{{/if}}

<img width="200" src="http://www.monkeymusicchallenge.com/images/monkey.png" alt="Monkey" />