<div class="schedule">
  <h1>Saturday November 29</h1>
  <ol class="schedule-list">
    <li>
      <time>12:00</time>
      <span>Doors open at Vallgatan 22, we will meet you at the entrance.</span>
    </li>
    <li>
      <time>12:30</time>
      <span>Event Introduction What is this? Who wins? And why are we here?</span>
    </li>
    <li>
      <time>13:00</time>
      <span>Game Introduction by <strong class="highlight">poscar</strong> –
      How does this differ from the warmup challenge? Details and game change(r)s!</span>
    </li>
    <li>
      <time>14:00</time>
      <span>Fika + git clone/merge/rebase</span>
    </li>
    <li>
      <time>15:00-late</time>
      <span>Stay and hack, play video games, have a glass of wine/beer. Expect the unexpected.</span>
    </li>
  </ol>

  <pre>Code code code &lt;3</pre>

  <h1>Sunday December 7</h1>
  <ol class="schedule-list">
    <li>
      <time>09:00</time>
      <span>Doors open at Vallgatan 22, we will meet you at the entrance.</span>
    </li>
    <li>
      <time>09:00-12:00</time>
      <span>We invite all teams to make final adjustments/finish that last boss-challenge at the office. Late sleepers who just went to bed at 09:00 are welcome to join in at lunch instead.</span>
    </li>
    <li>
      <time>12:00</time>
      <span>Lunch is served.</span>
    </li>
    <li>
      <time>13:30</time>
      <span><strong class="highlight">TOURNAMENT TIME!</strong> – Teams are matched against each other in a classic tournament. The first rounds will be played in parallell, the finals are displayed on the big screen</span>
    </li>
    <li>
      <time>16:30</time>
      <span>Game Over. We give the winning team a congratulatory hug!</span>
    </li>
    <li>
      <time>18:00</time>
      <span>Door closes. Thanks for coming, it was great having you all here!</span>
    </li>
  </ol>
</div>