<main role="main">
  <h1 class="huge">{{teamName}}</h1>

  <dl class="horizontal">
    <dt>API key</dt>
    <dd>{{apiKey}}</dd>
  </dl>

  <dl class="horizontal">
    <dt class="spacious"><a href="/boss" class="no-underline btn--flat">Challenge a Boss</a></dt>
    <dt class="spacious"><a href="/versus/levels" class="no-underline btn--flat">Create a Versus Match</a></dt>
    <dt class="spacious"><a href="/versus/open-games" class="no-underline btn--flat">Join existing Versus Match</a></dt>
  </dl>
</main>
