#login-form {

  .error {
    color: $red;

    &:empty {
      visibility: hidden;
    }
  }

  .input-group {
    text-align: right;
    padding-right: 53px;

    label {
      margin-right: to_rem(14);
    }
  }
}
