.team {
  background:
              url('/images/floral1.svg') no-repeat left fixed,
              url('/images/floral2.svg') no-repeat right fixed;
  background-color: $green-warm;
  background-position-y: 100%;

  [role="main"] {
    max-width: 30rem;
    margin: 0 auto;
  }

  [role="section"] {
    margin-bottom: to_rem(50);
  }
}

.list {
  .spacious {
    margin: to_rem(25);
  }
}

.boss-list {

  li {
    margin-bottom: $lineheight / 4;


    &.completed a::after {
      content: "\2713";
      font-weight: 900;
      float: right;
      color: $green-dark;
      font-size: 22px;
    }
  }

  li:nth-child(odd) {
    transform: rotate(-1deg);
  }
  li:nth-child(even) {
    transform: rotate(1deg);
  }

  a {
    display: block;
  }
}

.ranking-list {
  margin: auto;
  width: 75%;

  .ranking {
    text-align: left;

    .team-name {
      font-weight: 900;
      width: 50%;
      display: inline-block;
    }

    .stats {
      float: right;
      text-align: right;
      color: white;

      .details {
        margin-left: to_rem(12);
        font-size: to_rem($base-size / 2);
        vertical-align: middle;
      }
    }

    &.obfuscated .team-name {
      user-select: none;
      color: transparent;
      text-shadow: 0 0 to_rem(15) $green-dark;
    }

    &:not(.obfuscated) {
      margin-top: to_rem(20);
      margin-bottom: to_rem(20);
    }
  }
}