<h2 style="color: {{color}}">{{teamName}}</h2>
<p><strong class="team-score">{{score}}</strong></p>

<div class="inventory">
  <h3>Inventory</h3>

  <p>
    <span class="opening-bracket">[</span>
    {{#each inventory}}
    <span class="inventory-item pixelated" style="background-image: url(/images/{{this}}.png);"></span>
    {{/each}}
    <span class="closing-bracket">]</span>
  </p>
</div>
