<h2>{{teamName}}</h2>
<p><strong class="team-score">{{score}}</strong></p>
<dl>
  <dt>Turns left</dt>
  <dd><strong>{{remainingTurns}}</strong></dd>
</dl>

<h3>Inventory</h3>

<p>
  <span class="opening-bracket">[</span>
  <span class="closing-bracket">]</span>
</p>
