// Helpers

.group {
  @include clearfix;
}

.highlight {
  @include underline($size: 2.5, $color: $light, $bg: $green-dark, $offset: .1em);
}

.intro-text {
  font-size: 1.2em;
}

.left {
  text-align: left;
}

.wide {
  width: 100%;
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content--centered {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

[class^="icon-"] {
  &::before {
    display: inline-block;
    content: "";
    font-style: normal;
    background-size: 100% 100%;
  }
}

.icon-leaf::before {
  width: 40px;
  height: 30px;
  background: transparent url('../images/leaf-icon.svg') no-repeat left center;
}


#logo {
  fill: $light;
}

#spotify {
  margin: 2rem 0;
  width: 7rem;
}

// Grid

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > * {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    max-width: 100%;
    flex-grow: 1;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
