/* =HOME
--------------------------------------------- */

.home {
  input {
    text-align: center;
  }
}

@-webkit-keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  65% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.team {
  -webkit-animation: zoom .5s both;

  h1 {
    white-space: nowrap;
    margin: 1em 0 .5em -36px;
  }

  .text-content {
    text-align: left;
  }
}

.secret {
  [role="main"] {
    width: 35rem;

    p {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}
