/* =VIEWS
--------------------------------------------- */

.secret {
  [role="main"] {
    width: 35rem;

    p {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

@import "views/team";
@import "views/game";
@import "views/replays";
@import "views/schedule";
